################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Azure.Durable.Functions/FileContentIndex
/.vs/Azure.Durable.Functions/v17/.suo
